{
  "parser": "babel-eslint",
  "rules": {
    "max-len": [1, 120, 2, { "ignoreComments": true }],
    "no-underscore-dangle": 0
  },
  "extends": [
    "airbnb-base",
    "plugin:react/recommended",
    "plugin:cypress/recommended"
  ],
  "env": {
    "jest": true,
    "cypress/globals": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"],
        "path": ["../public"]
      }
    }
  },
  "plugins": ["cypress"]
}
